body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado{
    width: 500px;
    height: 500px;
    background: rgb(80, 124, 182);
    transition: width 1.5s;
  /*   animation-name: rotacionar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
}

.vermelho{
    background: rgb(122, 96, 96);
}

/* .quadrado:hover{
    background: red;
}
 */
@keyframes rotacionar {
    from {
        transform: rotate(0);
    } to { transform: rotate(360deg);

    }
     
}